.box-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../img/formulario.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
} 
form{
    width: 28rem;
    background-color: rgba(146, 146, 146, 0.384);
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.596);
}
/* Estilos para el encabezado del formulario */
.box-form h1 {
    font-size: 24px;
    font-family: Pacifico,cursive;
}

/* Estilos para los elementos de entrada (input) */
.box-form input {
    width: 60%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #d6d5d5;
    border-radius:10px;
    background-color: #d6d5d5d2;
}

/* Estilos para las etiquetas (label) */
.box-form label {
    font-weight: bold;
    color: black;
}

/* Estilos para el botón de enviar */
.box-form button {
    width: 8rem;
    background-color: #000000f8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
.box-form button:hover{
    transform: scale(1.1);
    background-color: #042a72e7;
}
/* Estilos para el selector múltiple (select) */
.box-form select {
    background-color: rgba(201, 255, 255, 0.288);
    width: 50%;
    height: 10rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el párrafo de temperamentos seleccionados */
.box-form p {
    padding: 0;
    margin: 0;
    color: red;
}

/* Estilos para el archivo de entrada (input type="file") */
.box-form input[type="file"] {
    margin: 10px;
}
